character-block {
    width: 237px;
    height: 48px;
    display: block;
    position: relative;
    padding: 18px;

    .character-block-wrapper {
        width: 100%;
        height: 100%;
        background-size: cover;
        position: relative;
    }

    .character-block-emblem {
        position:absolute;
        top: 0;
        left: 0;
        height: 48px;
        width: 48px;
        background-size: cover;
    }

    .character-block-details {
        position: absolute;
        display: block;
        top: 0px;
        left: 48px;
        padding: 5px;
    }

    .character-block-details-class {
        font-size: 18px;
        font-weight: 400;
        width: 100%;
        height: 24px;
    }
}